@{
    ViewBag.Title = "PatientProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using NewHope.Models

<link rel="stylesheet" href="~/Content/bootstrap.css">
<link rel="stylesheet" href="~/Content/bootstrap-theme.css">


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <br><br><br>
        
        <font size="5" color="#415c81"> Request Appointment</font>
        <br><br><br>
        <div class="row">
            <div class="col-md-9">
                <form name="idea" style="color:#000;" id="idea" method="post" action="~/Patient/AppointmentGo" class="form">
                    <input type="hidden" value=@TempData["email"] name="p_email" />
                    <input class="form-control" type="text" name="d_email" id="Dname" placeholder="Doctor's email" style=" opacity: 0.6"></input ><br><br>


                    <input type="submit" value="Request       " name="submit" class="btn btn-lg btn-primary"></input >
                </form>
                <br><br>
            </div>
        </div>
        <br><br>
        <font size="6" color="#415c81"> Appointments</font>
        <br><br>
        @foreach (var s in Model)
        {
            <table class=" table table-bordered" cellspacing="10">
                <form action="~/Doctor/ApproveAppointment" method="POST">
                    <tr class="success">
                        <th>Patient's Email</th>
                        <td>@s.p_email</td>
                    </tr>
                    <tr>
                        <th>Doctors's Email</th>
                        <td>@s.d_email</td>
                    </tr>
                    <tr>
                        <th>Appointment Time</th>
                        <td>@s.Time -</td>
                    </tr>
                    <tr>
                        <th>Appointment Date</th>
                        <td>@s.appointment_date -</td>
                    </tr>
                    <tr>
                        <th>Appointment Status</th>
                        <td>@s.status</td>
                    </tr>
                    
                    
                </form>
            </table>
            <br><br><br>
        }


        
       
       
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <font size="8" color="#415c81"> Add Disease</font>
        <br><br><br>
        <form name="idea" style="color:#000;" id="idea" method="post" action="~/Patient/DiseaseGo" onsubmit="return validate()" class="form">
            <input type="hidden" value=@TempData["email"] name="email" />
            <input class="form-control" type="text" name="name" id="Dname" placeholder="  Disease Name" class="nameTextField" style=" opacity: 0.6"></input ><br><br>
            <input class="form-control" type="text" name="condition" id="Condition" placeholder="  Condition" class="nameTextField" style=" opacity: 0.6"></input ><br><br>
            <input class="form-control" type="text" name="sDate" id="startD" class="nameTextField" placeholder="  Start Date" style=" opacity: 0.6"></input ><br><br>
            <input class="form-control" type="text" name="eDate" id="endD" class="nameTextField" placeholder="  End Date" style=" opacity: 0.6"></input ><br><br>


            <input type="submit" value="Submit Disease" name="submit" class="btn btn-lg btn-primary"></input >
        </form>

        <br><br>
        <font size="6" color="#33CCFF"> NewHope </font><font size="6" color="#415c81"> History</font>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            NewHope is a non profit organization provided for citizens of Pakistan. New Hope was founded with the hopes of helping those, who could not find their related Doctors in their near by areas
        </p>

        <br><br><br>
        <font size="1" color="#C8C8C8">--------------------------------------------------------------------------------------------------</font>

        <font size="6" color="#415c81"> What You Need To Know</font>
        <div>
            <img src="~/images/alfabat-A.png" /><font size="3" color="#415c81"> About Us</font>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                To maintain a positive atmosphere while helping to resolve individual situations in a productive matter.
            </p>
            <br><br><br><br>
        </div>
        <br><br>
    </div>
    <div class="col-md-4">

    </div>
</div>

